<head>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <!-- Table with event -->
  <div class="container text-center">
    <h1>Taken from
      <strong>https://localhost:5000/api/EventsAPI</strong>
    </h1>
    <table class="table table-striped table-bordered" style="width: 50%; margin: auto;">
      <tbody *ngFor="let e of events; let i=index;">
        <tr>
          <td class="success" colspan="2">{{e.fromDate | date:'longDate'}}</td>
        </tr>
        <tr>
          <td>{{e.fromDate | date: "shortTime"}}
            -
            {{e.toDate | date: "shortTime"}}</td>

          <td>{{e.activity.activityDescription}}</td>
        </tr>
      </tbody>
    </table>
    <!-- Form -->
    <!-- <button class="btn-default btn" (click)= "login()">Login to see other weeks</button> -->


  <button *ngIf="!showLogin" class="btn-default btn" (click)="showLogin = true">Login to see other weeks</button>
    <div id="backgroundGroup" *ngIf="showLogin">
      <div class="form-inline">
        <label >Username:</label>
        <input class="form-control" type="text" placeholder="Username" [(ngModel)] ="user.username">
      </div>
      <div class="form-inline">
        <label >Password:</label>
        <input class="form-control" type="password" placeholder="Password" [(ngModel)]="user.password">
      </div>
      <button class="btn btn-success" (click)="verify()" type="button" name="button">Login</button>
      <h3>{{token.access_token}}</h3>
    </div>





  </div>

</body>
