#backgroundGroup{
  background-color: rgba(50,150,50,0.25);
  border-radius: 30px;
  padding: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  border: 10px double white;
}
button, label, input{
  margin-top: 20px;
  text-align: center;
}
input{
  margin-left: 8px;
  border-radius: 10px;
}
h5{
  color: grey;
}
#text-danger{
  color: red;
}
#login{
  margin-bottom: 30px;
}
body{
  padding-top: 50px;
  padding-bottom: 30px;
}
